*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gold{
    background-color: gold;
    padding: 20px;
    width: 100%;
    height: 50vh;
}
.purple{
    background-color: purple;
    padding: 20px;
    width: 100%;
    height: 50vh;
}
.blue{
    background-color: blue;
    padding: 20px;
    width: 100%;
    height: 50vh;
}
.main{
    
}
@media screen and(max-width: 980px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    }
    @media screen and (max-width: 400px) {
        .gold{
            display: none;
        }
    }